In [1]:
animal = "cat"
print("animal:", animal)

animal: cat

In [8]:
def my_func():
    vegetable = "carrot"
    print("animal in my_func:", animal)
    print("vegetable in_the_func:",vegetable)
my_func()
print("vegetable:", vegetable)

animal in my_func: cat
vegetable in_the_func: carrot

NameError: name 'vegetable' is not defined

In [10]:
animal = "cat"
print("animal:", animal)
def my_func():
    global animal
    animal = "dog"
    print("animal in my_func:", animal)
my_func()
print("animal gloval after my_func:", animal)

animal: cat
animal in my_func: dog
animal gloval after my_func: dog

In [16]:
global_list = ['tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']
def add_to_head(vegetable):
    print("global_list in the func:", global_list)
    global_list.insert(0,vegetable)
    print("inserted to the head")
    print("global_list in the func:", global_list)
    
add_to_head("cabbage")
add_to_head("eggplant")
print("global_list:", global_list)

global_list in the func: ['tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']
inserted to the head
global_list in the func: ['cabbage', 'tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']
global_list in the func: ['cabbage', 'tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']
inserted to the head
global_list in the func: ['eggplant', 'cabbage', 'tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']
global_list: ['eggplant', 'cabbage', 'tomato', 'spainach', 'pumpkin', 'potato', 'lettuce']

In [17]:
sum([1, 2, 3, 4])

10

In [18]:
sum(range(10))

45

In [19]:
add_all = sum
add_all([1, 2, 3, 4])

10

In [20]:
add_all(range(10))

45

In [21]:
add_all = [sum, len]

In [22]:
def say_hello():
    print("こんにちは")

In [23]:
say_hello()

こんにちは

In [24]:
def run_any_func(func):
    for i in range(2):
        func()

In [25]:
run_any_func(say_hello)

こんにちは
こんにちは

In [30]:
def multi_func(number):
    if number == 0:
        print("min", end= " ")
        return min
    if number == 1:
        print("max", end= " ")
        return max
    else:
        print("sum", end= " ")
        return sum

In [31]:
num_list = [1, 2, 3, 4]
for i in [0, 1, 2]:
    func = multi_func(i)
    print(func(num_list))

min 1
max 4
sum 10

In [32]:
def square(x):
    '''与えられた数値の2乗を返す'''
    return x**2
print(square(10))

100

In [34]:
#与えられた数値の2乗を返す
sq_func = lambda x: x ** 2
print(sq_func(10))

100

In [36]:
i_num_list = range(1,11)
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字列リスト:", s_num_list)

文字列リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [37]:
#数値を文字に変換して修飾します。
for s in map(lambda i: "No." + str(i), range(1,11)):
    print(s, end=" ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [41]:
#偶数だけ取得します
for e in filter(lambda i: i%2==0, range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [42]:
def is_even(i):
    '''偶数ならTrue'''
    return i%2 == 0

for e in filter(is_even, range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [43]:
pairs = [(2,"down"), (1,"up"), (4,"charm"), (3, "strange"), (6,"top"), (5, "bottom")]
print(pairs)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [49]:
pairs.sort(key=lambda x: x[1])
print(pairs)

[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top'), (1, 'up')]

In [45]:
pairs.sort(key=lambda x: x[1], reverse=True)
print(pairs)

[(1, 'up'), (6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [50]:
new_pairs = sorted(pairs, key=lambda x: x[1])
print(new_pairs)
print(pairs)

[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top'), (1, 'up')]
[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top'), (1, 'up')]

In [53]:
n = 3
func = lambda n: "even" if (n%2==0) else "odd"
func(n)

'odd'

In [54]:
n = 3 
if (n%2==0):
    x = "even"
else:
    x = "odd"
print(x)

odd

In [55]:
n = 3 
x = "even" if (n%2==0) else "odd"
print(x)

odd

In [57]:
def outer(a,b):
    print("outer function (a,b) = ({},{})".format(a,b))
    def inner(c,d):
        print("inner function (c, d) = ({},{})".format(c, d))
        return c*d
    return inner(a, b)

In [58]:
a = outer(4,7)
print(a)

outer function (a,b) = (4,7)
inner function (c, d) = (4,7)
28

In [ ]:
def make circle area func(pi = 3.14):
    '''円の面積を計算する'''
    def circle area(radius):
        '''円の面積を計算する'''
        return radius *radu